<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
 
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class = 'navbar'>
    <ul>
      <% if request.fullpath == root_path %>
        <li class="active">
      <% else %>
        <li>  
      <% end %>
          <%= link_to "Home", root_path %>
        </li>
      <% if request.fullpath == projects_path || request.fullpath == project_path(@project) %>
        <li class="active">
      <% else %>
        <li>       
      <% end %>
         <%= link_to "Projects", projects_path %>
        </li>
    </ul>
  </div>

  
<%= yield %>

</body>
</html>